<head>
    <!--Author: Catikia
    Started: 8/15/2021
    -->

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
     
    <!-- Site specific CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static '/bruceiamWebProject/css/bruciam.css' %}">

    <!-- SEO Business description -->
    <meta name='Description' content="Bruce is a real estate agent that wants to help you make your home dreams a reality." />

    <!-- SEO site/business/page name -->
    <title>
        {% block title %}
            Bruce Simmons | Real Estate Agent
        {% endblock %}
    </title>
</head>
