
<nav class="navbar navbar-expand navbar-light fixed-top ">
    <div class="container-sm"> <!-- using sm instead of fluid for better alignment -->
        <!-- navigation logo area -->
        <a class="navbar-brand col-6" id="brand" href="home.html">
            <h2>Bruce Simmons Jr</h2><h3>Real Estate Agent</h3>
        </a>
        <!-- navigation drop-down area -->
        <div class="navbar-nav col-5">
            <div class="nav-item dropdown me-auto">
                <a class="nav-link dropdown-toggle" href="home.html" id="navbarDropdown"
                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#searching">search</a></li>
                    <li><a class="dropdown-item" href="#neighborhood">Neighborhoods</a></li>
                    <li><a class="dropdown-item" href="#featured">#Featured homes</a></li>
                </div>
            </div>

        </div><!--end overall nav item div -->
        <!-- Adds social icons/links -->
        <div class="navbar col-sm-1" id="socials">
            <a id="emailme" href="mailto:bruce@bruceiam.com" target="_blank">
              {% load static %}
                <img src="{% static 'bruceiamWebProject/media/email-30-blackbg-white.png' %}" alt="bruce@bruceiam.com" width="30" height="30" class="d-inline-block align-text-top"/>
            </a>
            <a id="facebook" href="https://www.facebook.com/bruce.t.simmons" target="_blank">
              {% load static %}
                <img src="{% static 'bruceiamWebProject/media/facebook-30-bluebg-white.png' %}" alt="facebook.com/bruce.t.simmons" width="30" height="30" class="d-inline-block align-text-top"/>
            </a>
            <a id="twitter" href="https://twitter.com/RealBruceIAm" target="_blank">
              {% load static %}
                <img src="{% static 'bruceiamWebProject/media/twitter-30-bluebg-white.png' %}" alt="twitter.com/RealBruceIAm" width="30" height="30" class="d-inline-block align-text-top"/>
            </a>
            <a id="instagram" href="https://www.instagram.com/realbruceiam" target="_blank">
              {% load static %}
                <img src="{% static 'bruceiamWebProject/media/instagram-30-blackbg-color.png' %}" alt="instagram.com/realbruceiam" width="30" height="30" class="d-inline-block align-text-top"/>
            </a>
            <a id="twitch" href="https://www.twitch.tv/bruceiam" target="_blank">
              {% load static %}
                <img src="{% static 'bruceiamWebProject/media/twitch-30-blackbg-color.png' %}" alt="twitch.tv/bruceiam" width="30" height="30" class="d-inline-block align-text-top"/>
            </a>
            <a id="speedrun" href="https://www.speedrun.com/user/bruceiam" target="_blank">
              {% load static %}
                <img src="{% static 'bruceiamWebProject/media/speedrun-30-blackbg-color.png' %}" alt="speedrun.com/user/bruceiam" width="30" height="30" class="d-inline-block align-text-top"/>
            </a>

        </div><!--end socials div -->
    </div><!--end container-sm div -->
</nav><!--end nav -->
